<div class="hero">
    <section class="cta">
        <h1 class="cta-title">
            эффективные решения <br />для вашего бизнеса
        </h1>
        <a href="#" data-modal-open class="cta-button button">Заказать услугу</a>
    </section>
</div>