<!-- Подвал сайта -->
<footer>
    <!-- подвал контакты -->
    <div class="container">
        <div class="footer-wrapper">
            <div class="bottom-address">
                <a href="./index.html" aria-label="Логотип компании" class="logo">
                    <span>Web</span>
                    <span class="logo-bottom">Studio</span>
                </a>
                <address>
                    г. Киев, пр-т Леси Украинки, 26
                </address>
                <address>
                    <a href="mailto:info@example.com" class="bottom-contacts">info@example.com</a><br />
                    <a href="tel:+380991111111" class="bottom-contacts">+38 099 111 11 11</a>
                </address>
            </div>

            <!-- подвал соцсети -->
            <div class="social-links">
                <p class="social-text">присоединяйтесь</p>
                <ul class="social-list">
                    <li class="social-item">
                        <a href="#" class="social social-footer" aria-label="Instagram link">
                            <svg class="icon-social">
                                <use href="./images/sprite.svg#instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-item">
                        <a href="#" class="social social-footer" aria-label="Twitter link">
                            <svg class="icon-social">
                                <use href="./images/sprite.svg#twitter"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-item">
                        <a href="#" class="social social-footer" aria-label="Facebook link">
                            <svg class="icon-social">
                                <use href="./images/sprite.svg#facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-item">
                        <a href="#" class="social social-footer" aria-label="LinkedIn link">
                            <svg class="icon-social">
                                <use href="./images/sprite.svg#linkedin"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>

            <!-- подвал форма подписки -->
            <div class="subscribe-form">
                <form action="" method="post">
                    <label for="email">Подпишитесь на рассылку</label>
                    <input type="email" name="email" id="email" placeholder="E-mail" class="subscribe-email" />
                    <button type="submit" class="button">
                        Подписаться
                        <svg class="button-icon">
                            <use href="./images/sprite.svg#icon-send"></use>
                        </svg>
                    </button>
                </form>
            </div>
        </div>
    </div>
</footer>

{{> modal}}

<script src="javascripts/modal.js"></script>