<header class="page-header">
    <div class="container nav-wrapper">
        <nav class="top-nav">
            <!-- Логотип сайта -->
            <a href="/" aria-label="Логотип компании" class="logo">
                <span>Web</span>
                <span class="logo-top">Studio</span>
            </a>

            <!-- Меню бургер -->
            <button type="button" class="menu-button data-menu-button" aria-expanded="false"
                aria-controls="menu-container">
                <svg width="40" height="40" aria-label="Переключатель мобильного меню">
                    <use class="icon-burger" href="images/burger-sprite.svg#menu_40px"></use>
                    <use class="icon-cross" href="images/burger-sprite.svg#close_40px"></use>
                </svg>
            </button>

            <!--Основное меню сайта  -->
            <div class="menu-container data-menu" id="menu-container">
                <!-- Меню сайта -->
                <ul class="main-menu">
                    <li class="item">
                        <a href="/" class="link current">Студия</a>
                    </li>
                    <li class="item">
                        <a href="/projects" class="link">Портфолио</a>
                    </li>
                    <li class="item">
                        <a href="/contacts" class="link">Контакты</a>
                    </li>
                </ul>

                <!-- Контакты: телефон и почта -->
                <address class="top-address">
                    <a href="mailto:info@devstudio.com" class="top-сontacts">
                        <svg class="envelope">
                            <use href="./images/sprite.svg#envelope"></use>
                        </svg>
                        info@devstudio.com
                    </a>
                    <a href="tel:+380961111111" class="top-сontacts">
                        <svg class="smartphone">
                            <use href="./images/sprite.svg#smartphone"></use>
                        </svg>
                        +38 096 111 11 11
                    </a>
                </address>
            </div>
        </nav>
    </div>
</header>