<ul class="social-list social-align">
    {{#each social}}
    <li>
        <a href="#" class="social" aria-label="{{label}}">
            <svg class="icon-social team-social">
                <use href="{{link}}"></use>
            </svg>
        </a>
    </li>
    {{/each}}
</ul>