<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/{{cssFileName}}.css">
</head>

<body>
    {{> page-header}}

    {{{body}}}

    {{> page-footer}}

    <script src="javascripts/menu.js"></script>
</body>

</html>