<section class="projects">
    <div class="container">
        <h1 class="visually-hidden">Секция с примерами проектов</h1>
        <ul class="section-list filter-buttons">
            <li class="item">
                <button type="button" class="filter-button">Все</button>
            </li>
            <li class="item">
                <button type="button" class="filter-button">Веб-сайты</button>
            </li>
            <li class="item">
                <button type="button" class="filter-button">Приложения</button>
            </li>
            <li class="item">
                <button type="button" class="filter-button">Дизайн</button>
            </li>
            <li class="item">
                <button type="button" class="filter-button">Маркетинг</button>
            </li>
        </ul>
        <ul class="projects-list">
            <li class="project-card">
                <a href="https://google.com" class="project-item">
                    <div class="project-overlay">
                        <picture>
                            <source srcset="
                        ./images/project1/project1-450.webp    1x,
                        ./images/project1/project1-450@2x.webp 2x
                      " type="image/webp" media="(max-width: 767px)" />
                            <source srcset="
                        ./images/project1/project1-450.jpg    1x,
                        ./images/project1/project1-450@2x.jpg 2x
                      " media="(max-width: 767px)" />
                            <source srcset="
                        ./images/project1/project1-370.webp    1x,
                        ./images/project1/project1-370@2x.webp 2x
                      " type="image/webp" media="(min-width: 1200px)" />
                            <source srcset="
                        ./images/project1/project1-370.jpg    1x,
                        ./images/project1/project1-370@2x.jpg 2x
                      " media="(min-width: 1200px)" />
                            <source srcset="
                        ./images/project1/project1-354.webp    1x,
                        ./images/project1/project1-354@2x.webp 2x
                      " type="image/webp" media="(min-width: 768px)" />
                            <source srcset="
                        ./images/project1/project1-354.jpg    1x,
                        ./images/project1/project1-354@2x.jpg 2x
                      " media="(min-width: 768px)" />
                            <img src="./images/project1/project1-450.jpg" alt="Картинка проекта Технокряк" />
                        </picture>
                        <p class="project-text">
                            Технокряк это современная площадка распространения
                            коронавируса. Компании используют эту платформу для
                            цифрового шпионажа и атак на защищённые сервера конкурентов.
                        </p>
                    </div>
                    <div class="card-wrapper">
                        <h2 class="project-title">Технокряк</h2>
                        <p class="project-type">Веб-сайт</p>
                    </div>
                </a>
            </li>
            <li class="project-card">
                <a href="#" class="project-item">
                    <div class="project-overlay">
                        <picture>
                            <source srcset="
                        ./images/project2/project2-450.webp    1x,
                        ./images/project2/project2-450@2x.webp 2x
                      " type="image/webp" media="(max-width: 767px)" />
                            <source srcset="
                        ./images/project2/project2-450.jpg    1x,
                        ./images/project1/project1-450@2x.jpg 2x
                      " media="(max-width: 767px)" />
                            <source srcset="
                        ./images/project2/project2-370.webp    1x,
                        ./images/project2/project2-370@2x.webp 2x
                      " type="image/webp" media="(min-width: 1200px)" />
                            <source srcset="
                        ./images/project2/project2-370.jpg    1x,
                        ./images/project2/project2-370@2x.jpg 2x
                      " media="(min-width: 1200px)" />
                            <source srcset="
                        ./images/project2/project2-354.webp    1x,
                        ./images/project2/project2-354@2x.webp 2x
                      " type="image/webp" media="(min-width: 768px)" />
                            <source srcset="
                        ./images/project2/project2-354.jpg    1x,
                        ./images/project2/project2-354@2x.jpg 2x
                      " media="(min-width: 768px)" />
                            <img src="./images/z-450.jpg" alt="Картинка проекта Нью Орлеан" />
                        </picture>
                        <p class="project-text">
                            Технокряк это современная площадка распространения
                            коронавируса. Компании используют эту платформу для
                            цифрового шпионажа и атак на защищённые сервера конкурентов.
                        </p>
                    </div>
                    <div class="card-wrapper">
                        <h2 class="project-title">
                            Постер New Orlean vs Golden Star
                        </h2>
                        <p class="project-type">Дизайн</p>
                    </div>
                </a>
            </li>
            <li class="project-card">
                <a href="#" class="project-item">
                    <div class="project-overlay">
                        <picture>
                            <source srcset="
                        ./images/project3/project3-450.webp    1x,
                        ./images/project3/project3-450@2x.webp 2x
                      " type="image/webp" media="(max-width: 767px)" />
                            <source srcset="
                        ./images/project3/project3-450.jpg    1x,
                        ./images/project3/project3-450@2x.jpg 2x
                      " media="(max-width: 767px)" />
                            <source srcset="
                        ./images/project3/project3-370.webp    1x,
                        ./images/project3/project3-370@2x.webp 2x
                      " type="image/webp" media="(min-width: 1200px)" />
                            <source srcset="
                        ./images/project3/project3-370.jpg    1x,
                        ./images/project3/project3-370@2x.jpg 2x
                      " media="(min-width: 1200px)" />
                            <source srcset="
                        ./images/project3/project3-354.webp    1x,
                        ./images/project3/project3-354@2x.webp 2x
                      " type="image/webp" media="(min-width: 768px)" />
                            <source srcset="
                        ./images/project3/project3-354.jpg    1x,
                        ./images/project3/project3-354@2x.jpg 2x
                      " media="(min-width: 768px)" />
                            <img src="./images/project3/project3-450.jpg" alt="" />
                        </picture>
                        <p class="project-text">
                            Технокряк это современная площадка распространения
                            коронавируса. Компании используют эту платформу для
                            цифрового шпионажа и атак на защищённые сервера конкурентов.
                        </p>
                    </div>
                    <div class="card-wrapper">
                        <h2 class="project-title">Ресторан Seafood</h2>
                        <p class="project-type">Приложение</p>
                    </div>
                </a>
            </li>
            <li class="project-card">
                <a href="#" class="project-item">
                    <div class="project-overlay">
                        <picture>
                            <source srcset="
                        ./images/project4/project4-450.webp    1x,
                        ./images/project4/project4-450@2x.webp 2x
                      " type="image/webp" media="(max-width: 767px)" />
                            <source srcset="
                        ./images/project4/project4-450.jpg    1x,
                        ./images/project4/project4-450@2x.jpg 2x
                      " media="(max-width: 767px)" />
                            <source srcset="
                        ./images/project4/project4-370.webp    1x,
                        ./images/project4/project4-370@2x.webp 2x
                      " type="image/webp" media="(min-width: 1200px)" />
                            <source srcset="
                        ./images/project4/project4-370.jpg    1x,
                        ./images/project4/project4-370@2x.jpg 2x
                      " media="(min-width: 1200px)" />
                            <source srcset="
                        ./images/project4/project4-354.webp    1x,
                        ./images/project4/project4-354@2x.webp 2x
                      " type="image/webp" media="(min-width: 768px)" />
                            <source srcset="
                        ./images/project4/project4-354.jpg    1x,
                        ./images/project4/project4-354@2x.jpg 2x
                      " media="(min-width: 768px)" />
                            <img src="./images/project4/project4-450.jpg" alt="Картинка проекта Прайм" />
                        </picture>
                        <p class="project-text">
                            Технокряк это современная площадка распространения
                            коронавируса. Компании используют эту платформу для
                            цифрового шпионажа и атак на защищённые сервера конкурентов.
                        </p>
                    </div>
                    <div class="card-wrapper">
                        <h2 class="project-title">Проект Prime</h2>
                        <p class="project-type">Маркетинг</p>
                    </div>
                </a>
            </li>
            <li class="project-card">
                <a href="#" class="project-item">
                    <div class="project-overlay">
                        <picture>
                            <source srcset="
                        ./images/project5/project5-450.webp    1x,
                        ./images/project5/project5-450@2x.webp 2x
                      " type="image/webp" media="(max-width: 767px)" />
                            <source srcset="
                        ./images/project5/project5-450.jpg    1x,
                        ./images/project5/project5-450@2x.jpg 2x
                      " media="(max-width: 767px)" />
                            <source srcset="
                        ./images/project5/project5-370.webp    1x,
                        ./images/project5/project5-370@2x.webp 2x
                      " type="image/webp" media="(min-width: 1200px)" />
                            <source srcset="
                        ./images/project5/project5-370.jpg    1x,
                        ./images/project5/project5-370@2x.jpg 2x
                      " media="(min-width: 1200px)" />
                            <source srcset="
                        ./images/project5/project5-354.webp    1x,
                        ./images/project5/project5-354@2x.webp 2x
                      " type="image/webp" media="(min-width: 768px)" />
                            <source srcset="
                        ./images/project5/project5-354.jpg    1x,
                        ./images/project5/project5-354@2x.jpg 2x
                      " media="(min-width: 768px)" />
                            <img src="./images/project5/project5-450.jpg" alt="Картинка проекта Боксес" />
                        </picture>
                        <p class="project-text">
                            Технокряк это современная площадка распространения
                            коронавируса. Компании используют эту платформу для
                            цифрового шпионажа и атак на защищённые сервера конкурентов.
                        </p>
                    </div>
                    <div class="card-wrapper">
                        <h2 class="project-title">Проект Boxes</h2>
                        <p class="project-type">Приложение</p>
                    </div>
                </a>
            </li>
            <li class="project-card">
                <a href="#" class="project-item">
                    <div class="project-overlay">
                        <picture>
                            <source srcset="
                        ./images/project6/project6-450.webp    1x,
                        ./images/project6/project6-450@2x.webp 2x
                      " type="image/webp" media="(max-width: 767px)" />
                            <source srcset="
                        ./images/project6/project6-450.jpg    1x,
                        ./images/project6/project6-450@2x.jpg 2x
                      " media="(max-width: 767px)" />
                            <source srcset="
                        ./images/project6/project6-370.webp    1x,
                        ./images/project6/project6-370@2x.webp 2x
                      " type="image/webp" media="(min-width: 1200px)" />
                            <source srcset="
                        ./images/project6/project6-370.jpg    1x,
                        ./images/project6/project6-370@2x.jpg 2x
                      " media="(min-width: 1200px)" />
                            <source srcset="
                        ./images/project6/project6-354.webp    1x,
                        ./images/project6/project6-354@2x.webp 2x
                      " type="image/webp" media="(min-width: 768px)" />
                            <source srcset="
                        ./images/project6/project6-354.jpg    1x,
                        ./images/project6/project6-354@2x.jpg 2x
                      " media="(min-width: 768px)" />
                            <img src="./images/project6/project6-450.jpg"
                                alt="Картинка сайта Inspiration has no Borders" />
                        </picture>
                        <p class="project-text">
                            Технокряк это современная площадка распространения
                            коронавируса. Компании используют эту платформу для
                            цифрового шпионажа и атак на защищённые сервера конкурентов.
                        </p>
                    </div>
                    <div class="card-wrapper">
                        <h2 class="project-title">Inspiration has no Borders</h2>
                        <p class="project-type">Веб-сайт</p>
                    </div>
                </a>
            </li>
            <li class="project-card">
                <a href="#" class="project-item">
                    <div class="project-overlay">
                        <picture>
                            <source srcset="
                        ./images/project7/project7-450.webp    1x,
                        ./images/project7/project7-450@2x.webp 2x
                      " type="image/webp" media="(max-width: 767px)" />
                            <source srcset="
                        ./images/project7/project7-450.jpg     1x,
                        ./images/project7/project76-450@2x.jpg 2x
                      " media="(max-width: 767px)" />
                            <source srcset="
                        ./images/project7/project7-370.webp    1x,
                        ./images/project7/project7-370@2x.webp 2x
                      " type="image/webp" media="(min-width: 1200px)" />
                            <source srcset="
                        ./images/project7/project7-370.jpg    1x,
                        ./images/project7/project7-370@2x.jpg 2x
                      " media="(min-width: 1200px)" />
                            <source srcset="
                        ./images/project7/project7-354.webp    1x,
                        ./images/project7/project7-354@2x.webp 2x
                      " type="image/webp" media="(min-width: 768px)" />
                            <source srcset="
                        ./images/project7/project7-354.jpg    1x,
                        ./images/project7/project7-354@2x.jpg 2x
                      " media="(min-width: 768px)" />
                            <img src="./images/project7/project7-450.jpg" alt="Фото издания Лимитид Эдишн" />
                        </picture>
                        <p class="project-text">
                            Технокряк это современная площадка распространения
                            коронавируса. Компании используют эту платформу для
                            цифрового шпионажа и атак на защищённые сервера конкурентов.
                        </p>
                    </div>
                    <div class="card-wrapper">
                        <h2 class="project-title">Издание Limited Edition</h2>
                        <p class="project-type">Дизайн</p>
                    </div>
                </a>
            </li>
            <li class="project-card">
                <a href="#" class="project-item">
                    <div class="project-overlay">
                        <picture>
                            <source srcset="
                        ./images/project8/project8-450.webp    1x,
                        ./images/project8/project8-450@2x.webp 2x
                      " type="image/webp" media="(max-width: 767px)" />
                            <source srcset="
                        ./images/project8/project8-450.jpg    1x,
                        ./images/project8/project8-450@2x.jpg 2x
                      " media="(max-width: 767px)" />
                            <source srcset="
                        ./images/project8/project8-370.webp    1x,
                        ./images/project8/project8-370@2x.webp 2x
                      " type="image/webp" media="(min-width: 1200px)" />
                            <source srcset="
                        ./images/project8/project8-370.jpg    1x,
                        ./images/project8/project8-370@2x.jpg 2x
                      " media="(min-width: 1200px)" />
                            <source srcset="
                        ./images/project8/project8-354.webp    1x,
                        ./images/project8/project8-354@2x.webp 2x
                      " type="image/webp" media="(min-width: 768px)" />
                            <source srcset="
                        ./images/project8/project8-354.jpg    1x,
                        ./images/project8/project8-354@2x.jpg 2x
                      " media="(min-width: 768px)" />
                            <img src="./images/project8/project8-450.jpg" alt="Картинка пректа ЛАБ" />
                        </picture>
                        <p class="project-text">
                            Технокряк это современная площадка распространения
                            коронавируса. Компании используют эту платформу для
                            цифрового шпионажа и атак на защищённые сервера конкурентов.
                        </p>
                    </div>
                    <div class="card-wrapper">
                        <h2 class="project-title">Проект LAB</h2>
                        <p class="project-type">Маркетинг</p>
                    </div>
                </a>
            </li>
            <li class="project-card">
                <a href="#" class="project-item">
                    <div class="project-overlay">
                        <picture>
                            <source srcset="
                        ./images/project9/project9-450.webp    1x,
                        ./images/project9/project9-450@2x.webp 2x
                      " type="image/webp" media="(max-width: 767px)" />
                            <source srcset="
                        ./images/project9/project9-450.jpg     1x,
                        ./images/project9/project96-450@2x.jpg 2x
                      " media="(max-width: 767px)" />
                            <source srcset="
                        ./images/project9/project9-370.webp    1x,
                        ./images/project9/project9-370@2x.webp 2x
                      " type="image/webp" media="(min-width: 1200px)" />
                            <source srcset="
                        ./images/project9/project9-370.jpg    1x,
                        ./images/project9/project9-370@2x.jpg 2x
                      " media="(min-width: 1200px)" />
                            <source srcset="
                        ./images/project9/project9-354.webp    1x,
                        ./images/project9/project9-354@2x.webp 2x
                      " type="image/webp" media="(min-width: 768px)" />
                            <source srcset="
                        ./images/project9/project9-354.jpg    1x,
                        ./images/project9/project9-354@2x.jpg 2x
                      " media="(min-width: 768px)" />
                            <img src="./images/project9/project9-450.jpg" alt="КАртинка приложения Growing Business" />
                        </picture>
                        <p class="project-text">
                            Технокряк это современная площадка распространения
                            коронавируса. Компании используют эту платформу для
                            цифрового шпионажа и атак на защищённые сервера конкурентов.
                        </p>
                    </div>
                    <div class="card-wrapper">
                        <h2 class="project-title">Growing Business</h2>
                        <p class="project-type">Приложение</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>