.social-list {
  list-style: none;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-list .social-item:not(:last-child) {
  margin-right: 10px;
}

// .social-align {
//   -webkit-box-pack: center;
//   -ms-flex-pack: center;
//   justify-content: center;
//   padding: 0 32px 24px 32px;
// }

.social {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  text-decoration: none;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social:hover,
.social:focus {
  background-color: #2196f3;
}

.icon-social {
  width: 20px;
  height: 20px;
}
