/* --------- Стилизация формы подписки----------- */

label[for="email"] {
  text-transform: uppercase;
  display: block;
  margin-bottom: 20px;
}

.subscribe-email {
  display: block;
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  margin-bottom: 20px;

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: $button-shadow;
  border-radius: 4px;

  color: inherit;

  @include transitionProperty(border-color);

  &:focus,
  &:hover {
    border-color: $akcent-color;
  }

  &::placeholder {
    color: $text-footer-secondary;
    line-height: 1.25;
    font-size: 16px;
  }

  @media screen and (min-width: 480px) and (max-width: 1199px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    display: inline-block;
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.button-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
